.pagination {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  > * {
    cursor: pointer;
  }
}

.page-link {
  transition: all 0.25s;
  padding: 0.2rem 0.6rem;
  border-radius: 0.3rem;
  background-color: #bbbbbb;
  color: #fefefe;
}
.sort-items {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sort-items button {
  background-color: #7aa0c9;
  color: #ffffff;
  border: none;
}

.sort-items button:hover {
  background-color: #6f95a0;
}

.movie-card:hover {
  transform: scale(1.05);
}

#dropdown-item-button {
  width: 100%;
  text-align: center;
  background-color: #f3d47a;
  color: #ffffff;
  border: none;
  padding: 10px;
}

#dropdown-item-button:hover,
#dropdown-item-button:focus {
  background-color: #e0a800;
}

.dropdown-item {
  color: #212529;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #ffc107;
  color: #ffffff;
}

@media (max-width: 1000px) {
  .pagination .page-link {
    padding: 0.1rem 0.25rem;
    font-size: 1rem;
  }
  .pagination {
    gap: 0.45rem;
  }
}
