@font-face {
  font-family: "KCC-Hanbit";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
:root {
  --frist-color: rgb(234, 234, 85);
}

.nav-bar {
  font-family: "KCC-Hanbit";
}
.netflix-logo {
  font-family: "KCC-Hanbit";
  font-size: 2.3rem;
  color: var(--frist-color);
  position: relative;
  font-weight: bold;
}
#navbarScroll {
  font-size: large;
  padding-left: 10px;
}

.content-body {
  color: var(--frist-color);
  font-family: "KCC-Hanbit";
}
